<table>
<tr>
  <td>
    Name
  </td>
</tr>

<tr>
<td>
<% @midis.each do |m| %>
  <%= link_to m.name, midi_path(m.name) %>
<% end %>
<td>
<tr>
</table>

<p><%= link_to "Upload Midi", new_midi_path %></p>
