<p><%= link_to "Back to List", midis_path %></p>

<h1>Midi: <%= @midi.name %></h1>

<div id=info>
<p>Beats Per Minute: <%= @midi.bpm %><p>
</div>

<div id=data>
  <% @midi.tracks_to_array.each do |l| %>
  <p><%= l %><p>
  <% end %>
</div>
